.card{
    width: 300px;
    margin:10px;
    background-color: #3c3c3c;
    opacity: 70%;
    border-radius: 1rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.5);
    padding: 0 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    color:aliceblue;
    font-size: 15px;
    text-shadow: 0 0 15px rgba(255,255,255,.5), 0 0 10px rgba(255,255,255,.5);
}
.block {
	position: relative;
    border-radius: 50%;
	background: linear-gradient(0deg, #000, #272727);
}

.moving-glow:before, .moving-glow:after {
	content: '';
	position: absolute;
    border-radius: 50%;
	left: -2px;
	top: -2px;
	background: linear-gradient(45deg, #fb0094, #0000ff, #00ff00,#ffff00, #ff0000, #fb0094, 
		#0000ff, #00ff00,#ffff00, #ff0000);
	background-size: 400%;
	width: calc(100% + 10px);
	height: calc(100% + 10px);
	z-index: -1;
	animation: anim-moving-glow 20s linear infinite;
  
}

@keyframes anim-moving-glow {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 400% 0;
	}
	100% {
		background-position: 0 0;
	}
}

.moving-glow:after {
	filter: blur(30px);
}